@theme {
  --font-sans: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  --font-arabic: Amiri, Times New Roman, serif;

  --primary-h: 210;  
  --primary-s: 10%;  
  --primary-l: 46%;

  --color-primary-50: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + 52%));
  --color-primary-100: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + 50%));
  --color-primary-200: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + 44%));
  --color-primary-300: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + 36%));
  --color-primary-400: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + 19%));
  --color-primary-500: hsl(var(--primary-h) var(--primary-s) var(--primary-l));
  --color-primary-600: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 16%));
  --color-primary-700: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 23%));
  --color-primary-800: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 29%));
  --color-primary-900: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 36%));
  --color-primary-950: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 39%));

  --secondary-h: 79;
  --secondary-s: 100%;
  --secondary-l: 1.3%; 

  --color-secondary-50: hsl(var(--secondary-h) var(--secondary-s) var(--secondary-l));
  --color-secondary-100: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) - 1%));
  --color-secondary-200: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) - 2%));
  --color-secondary-300: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) - 3%));
  --color-secondary-400: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) - 5%));
  --color-secondary-500: hsl(var(--secondary-h) var(--secondary-s) var(--secondary-l));
  --color-secondary-600: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) - 1%));
  --color-secondary-700: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) - 2%));
  --color-secondary-800: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) - 5%));
  --color-secondary-900: hsl(var(--secondary-h) var(--secondary-s) calc(var(--secondary-l) - 10%));

  /* Core UI Colors */
  --color-foreground: hsl(0 0% 20%);           /* Dark text on light backgrounds */
  --color-background: hsl(0 0% 100%);          /* Default light background (pure white) */
  --color-background-subtle: hsl(0 0% 94%);    /* Lighter background for subtle elements, borders */

  /* Semantic Alert Colors */
  --color-error: hsl(350 78% 57%);
  --color-success: hsl(135 60% 49%);
  --color-warning: hsl(40 100% 51%);
  --color-warning-foreground: hsl(40 90% 30%);
}