@theme {
  /* ========= Fonts ========= */
  --font-sans: "Noto Kufi Arabic", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  --font-arabic: "Noto Kufi Arabic", Amiri, Times New Roman, serif;

  --color-primary: #111827;
  --color-primary-contrast: #dbdcde;
  --color-primary-hover: #111827;
  --color-secondary: #ffffff;
  --color-secondary-contrast: #0a0a0a;
  --color-secondary-hover: #f1f5f9;

  --color-primary-link: #ffffff;
  --color-primary-link-hover: #ffffff;
  --color-primary-link-active: #ffffff;

  --color-secondary-link: #333333;
  --color-secondary-link-hover: #333333;
  --color-secondary-link-active: #333333;

  --color-background: #f8fafc;
  --color-main-text: #333333;
  --color-navbar: #111827;
  --color-navbar-contrast: #ffffff;
  --color-newsbar: #111827;
  --color-newsbar-contrast: #ffffff;
  --color-footer: #0a0a0a;
  --color-footer-contrast: #ffffff;

  --color-card: #ffffff;
  --color-card-hover: #f1f5f9;
  --color-card-contrast: #3b3b3b;

  --color-input: #ffffff;
  --color-input-contrast: #1f2937;

  --color-background-contrast: #e4e4e7;
  --color-background-contrast-text: #ffffff;
}
