<% content_for :title, t('navigation.lectures') %>
<div class="mobile-section">
  <div class="mobile-card">
    <h1 class="text-2xl font-bold mb-4"><%= t('.title') %></h1>
    <% if @lectures.any? %>
      <div class="bg-white rounded-lg shadow-sm overflow-hidden">
        <div class="">
          <% @lectures.each_with_index do |lecture, idx| %>
            <%= render "shared/playlist_card", resource: lecture, with_icon: true, index: idx %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="text-center text-gray-500 py-8">
        <p>
          <%= t(".no_lectures") %>
        </p>
      </div>
    <% end %>
    <%= render 'shared/pagination' %>
  </div>
</div>
