<div class="breadcrumbs text-sm" dir="rtl">
  <ul>
    <% current_breadcrumbs.each_with_index do |crumb, index| %>
      <% is_last = index == current_breadcrumbs.length - 1 %>
      <% is_current = crumb[:path].nil? %>

      <li>
        <% if is_current || is_last %>
          <span><%= crumb[:name] %></span>
        <% else %>
          <%= link_to crumb[:name], crumb[:path] %>
        <% end %>
      </li>
    <% end %>

    <% if local_assigns[:current_page] %>
      <li>
        <span><%= current_page %></span>
      </li>
    <% end %>
  </ul>
</div>
