
<main class="min-h-screen w-full" aria-labelledby="main_title">
  <div class="w-full relative">
    <%= yield %>
  </div>
  <%= render "shared/player" do %>
    <% if partial.player %>
      <%= partial.yield :player %>
    <% end %>
  <% end %>
</main>
