@font-face {
  font-family: "DroidNask";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/droidnask/DroidNaskh-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "DroidNask";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/droidnask/DroidNaskh-Bold.woff2") format("woff2");
}
